[submodule "3rdparty/buildinc"]
	path = 3rdparty/buildinc
	url = https://github.com/aiekick/BuildInc.git
	branch = master
[submodule "3rdparty/imguipack"]
	path = 3rdparty/imguipack
	url = https://github.com/aiekick/ImGuiPack.git
	branch = master
[submodule "ShaderOpt"]
	path = ShaderOpt
	url = https://github.com/aiekick/ShaderOptimizer.git
	branch = Lib
